.latestHighlights{
    padding-left: 165px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center; 
}

.latestHighlights-header{
    background-color: whitesmoke;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.highlights-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.highlight-header{
    font-family: Arial;
    font-style:normal;
    font-weight: normal;
    text-align: center; 
}

.highlights{
    width: 100%;
    height: 100%;
    margin: 20px;
    display: grid;
}

.votingButtons
{
    text-align: right;
}