.latestHighlights{
    padding-left: 165px;
    font-family: "Enriqueta", arial, serif;
    font-style: normal;
    font-weight: normal;
    text-align: center; 
    overflow-x: hidden;
}

.latestHighlights-header{
    color: white;
    background-color: #04aa6d;
    font-family: "Enriqueta", arial, serif;;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding:20px 0;
}

.highlights-grid{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
}


.highlights{
    width: 100%;
    height: 100%;
    margin: 20px;
    display: grid;
    grid-template-areas:
        'title title title'
        'left right data';
    grid-template-columns: 15% 60% auto;
}

.highlight-header{
    font-family: Arial;
    font-style:normal;
    font-weight: normal;
    text-align: center; 
    grid-area: title;
}

.votingButtons
{
    height: 60vh;
    grid-area: left;
    text-align: center;
    /*width: 25px;*/
    /*padding-left: 80%;*/
}

.iframeContainer{
    height: 60vh;
    
    /*float:left;*/
    grid-area: right;
}
.iframeContainer > iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}
.matchData{
    grid-area: data;
    background-color: #04aa6d;
    color: white ;
    border-radius: 20px;
    width: 90%;
    margin: 0 5%;
}
.pageControls{
    padding-bottom: 20px;
}
.pageControls > .pageButton{
    padding: 10px 15px;
    color: black;
    font-weight: bolder;
    background-color: #04aa6d;
    border-radius: 8px;
}
.pageButton > a{
    font-weight: bolder;
    color: black;
}
.pageButton > a:hover{
    font-size: 110%;
}
.pageControls > a{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    color: black;
    
    padding: 8px;
}
.pageControls > a:hover{
    font-size: 110%;
}
.upvImg{
    width:50%;
    margin-top: 50%;
}
.upvImg:hover{
    width: 55%;
}
.upvImg:hover + i{
    display: block;
}
.votingButtons > i{
    display: none;
}