.latestHighlights{
    padding-left: 165px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center; 
}

.latestHighlights-header{
    background-color: whitesmoke;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.highlights-grid{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
}


.highlights{
    width: 100%;
    height: 100%;
    margin: 20px;
    display: grid;
    grid-template-areas:
        'title title title'
        'left right data';
    grid-template-columns: 15% 60% auto;
}

.highlight-header{
    font-family: Arial;
    font-style:normal;
    font-weight: normal;
    text-align: center; 
    grid-area: title;
}

.votingButtons
{
    height: 60vh;
    grid-area: left;
    text-align: center;
    /*width: 25px;*/
    /*padding-left: 80%;*/
}

.iframeContainer{
    height: 60vh;
    
    /*float:left;*/
    grid-area: right;
}
.iframeContainer > iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.matchData{
    grid-area: data;
    background-color: lightgreen;
    border-radius: 20px;
}
.pageControls > .pageButton{
    padding: 10px 15px;
    color: black;
    font-weight: bolder;
    background-color: lightgreen;
    border-radius: 8px;
}
.pageButton > a{
    font-weight: bolder;
    color: black;
}
.pageControls > a{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bolder;
    color: black;
    
    padding: 8px;
}
.upvImg{
    width:50%;
    margin-top: 50%;
}