.signIn-header
{
    text-align: center;
    font-size: medium;
    padding-top: 60px;

}

.bb
{
 padding-right: 20%;
 padding-left: 20% ;
}

.aa
{
    text-align: center;
}

.pp
{
    text-align: center;
}

.message
{
    color: red;
}